@model SysParkingC_.Models.Relatorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Relatorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVeiculosEstacionados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVeiculosEstacionados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalArrecadado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalArrecadado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoTotalPermanenciaHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoTotalPermanenciaHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
